<!DOCTYPE html>
<html>
  <head>
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/button_styles.css">
    <link rel="stylesheet" href="./css/animations.css">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block" rel="stylesheet">
  </head>

</html>

<header>
  <div>
    <a href="*" class="nav-navbar-menu">Buttons</a>
  </div>
  <!-- <div class="banner">
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
  </div> -->
</header>

<section class="main-content-container">
  <div>
    <h1>Hello World</h1>
    <p>Welcome to my express website!</p>
  </div>
  
  <div class='user-phrase'>
    <%=userPhrase%>
  </div>
  
  <div class='button-box'>
    <button>Regular Button</button>
    <body>
      <a href='#' class='neon-button'>Neon</a>
    </body>
</section>

<footer>
  <a href="*" class="nav-footer-menu">Contact Me!</a>
</footer>
</div>